JWT_SECRET=jwtsecretteste
# Secrets do Postgres para o Payment-Service
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=payments
POSTGRES_DB_URL=postgres://admin:admin@payment-db:5432/payments?sslmode=disable
# Secrets do RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/