# Secrets do Postgres para o Payment-Service
POSTGRES_USER=payment-service-db-admin
POSTGRES_PASSWORD=n19CgFY7oFAWpusdyO1XRIKqjz1n0kvw2dHp8OQIl2c
POSTGRES_DB=payments
POSTGRES_DB_URL=postgres://payment-service-db-admin:n19CgFY7oFAWpusdyO1XRIKqjz1n0kvw2dHp8OQIl2c@payment-db:5432/payments?sslmode=disable
# Secrets do RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=ddwDtfHoTP8FobERV84X63hmUcIK9S2DapZx-OnYDAQ
RABBITMQ_URL