# Secrets do JWT
JWT_SECRET=
# Secrets do Postgres para o Payment-Service
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_DB_URL=
# Secrets do RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_URL=