# Copie para "postgres-secret.yml", preencha em Base64 e NÃO commite.
apiVersion: v1
kind: Secret
metadata:
  name: estoque-db-secret
  labels:
    app: estoque-db
type: Opaque
data:
  POSTGRES_USER: <BASE64_USER>
  POSTGRES_PASSWORD: <BASE64_PASSWORD>
  POSTGRES_DB: <BASE64_DB_NAME>
