apiVersion: v1
kind: Secret
metadata:
  name: pedido-service-secret
  labels:
    app: pedido-service
type: Opaque
data:
  DATABASE_URL: <[Convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes("postgresql://pedido_user:pedido_pass@pedido-db:5432/pedido_db"))>
  JWT_SECRET: <[Convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes("ZTM5ODMyMjJmM2VhNTU0ODE0MzdkNmQ2NDEzYzQ2YTg0MGE5NDI4MzA0Y2I4NzljYThkNDQ2YmM4MzM3Y2I4NQ=="))>
  RABBITMQ_URL: <[Convert]::ToBase64String([Text.Encoding]::UTF8.GetBytes("ZTM5ODMyMjJmM2VhNTU0ODE0MzdkNmQ2NDEzYzQ2YTg0MGE5NDI4MzA0Y2I4NzljYThkNDQ2YmM4MzM3Y2I4NQ=="))>
